# Pandas: grouping

In [10]:
import pandas as pd
import numpy as np

In [11]:
cars = pd.read_csv("data/vehicles_clean.csv")

In [12]:
cars.head()

,Unnamed: 0,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City KM/L,Highway KM/L,Combined KM/L,CO2 Emission Grams/Km,Fuel Cost/Year,Transmission (Binary)
0,0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,7.652571,7.227428,7.227428,324.831736,1950,Automatic
1,1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526857,5.526857,5.526857,424.779962,2550,Automatic
2,2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,6.802286,7.227428,6.802286,345.133719,2100,Automatic
3,3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526857,5.526857,5.526857,424.779962,2550,Automatic
4,4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,5.952000,8.928000,6.802286,345.133719,2550,Automatic

How many Car models?

In [13]:
### your code is here
len(cars['Model'].unique().tolist())

len(cars["Model"].unique())

3608

group by the data by the Make  using count function

In [14]:
### your code us here
cars.groupby(["Make"]).count()

,Unnamed: 0,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City KM/L,Highway KM/L,Combined KM/L,CO2 Emission Grams/Km,Fuel Cost/Year,Transmission (Binary)
Make,,,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20

What brand has the most cars?

In [15]:
### your code us here
cars_grouped = cars.groupby(["Make"]).count()

cars_grouped.sort_values(by="Model",ascending=False)

,Unnamed: 0,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City KM/L,Highway KM/L,Combined KM/L,CO2 Emission Grams/Km,Fuel Cost/Year,Transmission (Binary)
Make,,,,,,,,,,,,,,,,
Chevrolet,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643
Ford,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946
Dodge,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360
GMC,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347
Toyota,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
London Taxi,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
London Coach Co Inc,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"JBA Motorcars, Inc.",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Environmental Rsch and Devp Corp,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

<b>show the average CO2_Emission_Grams/Km  by Brand

In [16]:
### your code us here

cars.groupby(["Make"])["CO2 Emission Grams/Km"].mean()

Make
AM General                     379.881345
ASC Incorporated               345.133719
Acura                          262.583000
Alfa Romeo                     288.287195
American Motors Corporation    314.264744
                                  ...
Volkswagen                     244.038998
Volvo                          270.796572
Wallace Environmental          408.857065
Yugo                           221.251107
smart                          153.498052
Name: CO2 Emission Grams/Km, Length: 122, dtype: float64

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [17]:
### your code us here
(cars.groupby(["Make"])["CO2 Emission Grams/Km"].mean()).sort_values(ascending=False)

Make
Vector                    651.919248
Bugatti                   542.497235
Laforza Automobile Inc    502.012683
Dutton                    476.419879
Rolls-Royce               475.397772
                             ...
MINI                      194.935105
Daihatsu                  192.742404
Fiat                      189.311494
smart                     153.498052
Fisker                    105.011992
Name: CO2 Emission Grams/Km, Length: 122, dtype: float64

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [18]:
cars['Year'].describe()
cars["Decade"] = pd.cut(cars["Year"],bins=[1980,1989,1999,2009,2019], labels=["80s","90s","00s","10s"], retbins=False, precision=3, duplicates='raise')

In [19]:
## your code here

cars.groupby("Decade")["Decade"].count()

Decade
80s     6858
90s     9410
00s    10585
10s     9099
Name: Decade, dtype: int64

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [20]:
### your code is here
cars.groupby("Decade")["City KM/L"].mean()

Decade
80s    7.366539
90s    7.207911
00s    7.156940
10s    8.310167
Name: City KM/L, dtype: float64

Which brands are more environment friendly?

In [21]:
### your code is here
print((cars.groupby(["Decade","Make"])["CO2 Emission Grams/Km"].mean()).sort_values(ascending=True))

Decade  Make
10s     Fisker                         105.011992
00s     smart                          153.392764
10s     smart                          153.524374
80s     Daihatsu                       170.046613
10s     Fiat                           189.311494
                                          ...
        Vector                                NaN
        Vixen Motor Company                   NaN
        Volga Associated Automobile           NaN
        Wallace Environmental                 NaN
        Yugo                                  NaN
Name: CO2 Emission Grams/Km, Length: 488, dtype: float64

Does the drivetrain affect fuel consumption?

In [139]:
## Your Code here

                            Highway_Km/Liter  City_Km/Liter
Drivetrain
2-Wheel Drive, Front               14.029714      10.628571
Front-Wheel Drive                  12.166210       9.002214
All-Wheel Drive                    10.882531       7.785598
4-Wheel Drive                       9.668584       7.190861
2-Wheel Drive                       8.222444       6.642480
Rear-Wheel Drive                    9.023946       6.556574
4-Wheel or All-Wheel Drive          8.347130       6.392049
Part-time 4-Wheel Drive             8.115385       6.215696

In [22]:
(cars.groupby(["Drivetrain"])["Highway KM/L","City KM/L"].mean()).sort_values(by=["Highway KM/L","City KM/L"],ascending=False)

C:\Users\Flo\AppData\Local\Temp/ipykernel_11780/3943737181.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  (cars.groupby(["Drivetrain"])["Highway KM/L","City KM/L"].mean()).sort_values(by=["Highway KM/L","City KM/L"],ascending=False)

                            Highway KM/L  City KM/L
Drivetrain
2-Wheel Drive, Front           14.029714  10.628571
Front-Wheel Drive              12.166210   9.002214
All-Wheel Drive                10.882531   7.785598
4-Wheel Drive                   9.668584   7.190861
Rear-Wheel Drive                9.023946   6.556574
4-Wheel or All-Wheel Drive      8.347130   6.392049
2-Wheel Drive                   8.222444   6.642480
Part-time 4-Wheel Drive         8.115385   6.215696

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [80]:
## Your Code here

           City_Km/Liter
Trans
Manual          7.968348
Automatic       7.278292

In [26]:
(cars.groupby(["Transmission (Binary)"])["City KM/L"].mean()).sort_values(ascending=False)

Transmission (Binary)
Manual       7.968348
Automatic    7.278292
Name: City KM/L, dtype: float64

Use `groupby` and `aggregate` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [143]:
## your code is here

           City_Km/Liter  Trans
Trans
Automatic       7.278292  24290
Manual          7.968348  11662

In [29]:
cars.groupby(["Transmission (Binary)"])["Transmission (Binary)","City KM/L"].agg(["count","mean"])

C:\Users\Flo\AppData\Local\Temp/ipykernel_11780/1013381074.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  cars.groupby(["Transmission (Binary)"])["Transmission (Binary)","City KM/L"].agg(["count","mean"])

                      City KM/L
                          count      mean
Transmission (Binary)
Automatic                 24290  7.278292
Manual                    11662  7.968348

aggregate with average City_Km/Liter and the minimum of the Trans

In [144]:
### your code is here

           City_Km/Liter
Trans
Automatic       2.976000
Manual          2.550857

In [33]:
cars.groupby(["Transmission (Binary)"])["City KM/L"].min()

Transmission (Binary)
Automatic    2.976000
Manual       2.550857
Name: City KM/L, dtype: float64